*{
    background-color: black;
    margin: 0;
    padding: 0;
}
.container{
    height:100vh;
     background:rgb(0, 10, 12);
}

h1{

    color: aliceblue;
     font-size: 100px;
}

/* @media(max-width:768px){
    .container{ background:rgb(247, 220, 17);
}}

@media(min-width:600px){
    .container{ background:rgb(243, 226, 229);
}} */

/* @media(max-width:600px){
    .container{ background:rgb(162, 226, 237);
}} */

/* @media(min-width:768px){
    .container{background:rgb(223, 60, 196);}

} */


@media (max-width: 768px) and (min-width: 600px) {
  /* Your CSS rules here */
  .container{
    background: red;
  }
}

@media(max-width:600px){
    h1{
        font-size: 25px;
    }
}


